@font-face {
  font-family: "digi";
  src: url("./fonts/digi.ttf");
}

body {
  display: flex;
  flex-direction: column;
  font-family: digi;
  text-align: center;
  user-select: none;
  background-color: black;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100vw;
  margin: 1em;
}

#digimonRow {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

#secondRow {
  width: inherit;
  display: flex;
  flex-direction: row;
}
#thirdRow {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5em;
}

#goblimonContainer,
#devimonContainer {
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  border: 4px solid white;
  padding: 10px;
  flex: 1;
  max-width: 400px;
}

#veemonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
  padding: 10px;
  flex: 1;
  max-width: 400px;
}

#digimonImage {
  width: 225px;
  height: 225px;
  transition: all 1s ease-in-out;
}

#popup {
  display: none;
  position: fixed;
  top: 95%;
  width: 30%;
  z-index: 9999;
}

#popup-content {
  font-family: 'digi';
  position: absolute;
  left: 50%;
  width: 55rem;
  transform: translate(-50%, -50%);
  background-color: #1a1a1a;
  padding: .05em;
  border-radius: 20px;
  border-color: white;
  border-style: double;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.training-button:hover {
  background-color: #f7f7f7;
  border: .15em solid #00bfff;
}

#popup-content button {
  color: white;
  background-color: #343434;
  font-size: 2em;
  padding: 15px 20px;
  margin: 10px;
}

#digimonInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #ccc;
  padding: 10px;
  width: 20em;
  margin: .5em auto;
  background-color: #f8f8f8;
}

#digimonInfo p {
  margin: 5px;
  font-size: 1.5em;
  line-height: .8em;
}

#messageArea {
  align-items: center;
  text-align: center;
  font-size: 2em;
  background-color: #020b1b;
  color: white;
  border: 2px solid #ccc;
  padding: 18px;
  width: 15em;
  margin: .5em auto;
  height: 1em;
}

button {
  font-family: 'digi';
  font-size: 2em;
  padding: 15px 30px;
  margin: 10px;
  width: 150px;
  height: 2em;
  background-color: lightslategray;
}

#trainButton {
  background-color: #009cd0;
  color: white;
}

#resetButton {
  background-color: #ff6347;
  color: white;
}
.reset-button:hover{
  border: .15em solid #ff6347;
}

.fight-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}